
// SassyIcons: helpers
// -------------------


////
//// @group helpers
//// @access private
////


/// Helper: join `$list` into a string.
///
/// @param {List} $list - the list to convert
/// @param {String} $glue ('') - a string to separate each element of the list
///
/// @return {String}

@function _join(
  $list,
  $glue: ''
) {
  $length: length($list);
  $result: '';

  @if $length < 1 {
    @return $result;
  }

  @for $i from 1 through $length {
    $result: $result
             + nth($list, $i)
             + if($i != $length, $glue, '');
  }

  @return $result;
}


/// Helper: retrieve a spritemap.
///
/// @requires {variable} icons-spritemaps
///
/// @param {String} $name - spritemap name
/// @param {String} $factor (1x) - dpi factor
///
/// @return {Spritemap}

@function _sprite-map-get(
  $name,
  $factor: 1x
) {
  @return map-get(map-get($icons-spritemaps, $name), $factor);
}


/// Helper: return correct spritemap `background-position`.
///
/// @requires Compass::sprite-position
///
/// @param {Spritemap} $map - spritemap name
/// @param {String} $sprite - sprite name
/// @param {Number} $offset-x (0) - adjustment along the x axis
/// @param {Number} $offset-y (0) - adjustment along the y axis
/// @param {Number} $scale    (1) - spritemap scale
///
/// @return {List} (x-pos y-pos)

@function _sprite-position(
  $map,
  $sprite,
  $offset-x: 0,
  $offset-y: 0,
  $scale: 1
) {
  $pos: sprite-position($map, $sprite, $offset-x, $offset-y * $scale);
  @return (nth($pos, 1) nth($pos, 2) / $scale);
}


/// Hidpi media query builder.
///
/// @link http://bjango.com/articles/min-device-pixel-ratio/
/// @link http://brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries
/// @link http://w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio

@mixin hidpi-mq {
  $hidpi-ratio: conf(hidpi-ratio);

  @media (-webkit-min-device-pixel-ratio: $hidpi-ratio),
         (min-resolution: round($hidpi-ratio * 96dpi)),
         (min-resolution: $hidpi-ratio * 1dppx)
  {
    @content;
  }
}
