
// SassyIcons: generated
// ---------------------


/// Boilerplate styles for generated content `:before` or `:after`.
///
/// @access private
/// @group helpers
/// @todo Rewrite that crap
///
/// @param {Number} $width
/// @param {Number} $height
/// @param {Number} $top
/// @param {Number} $right
/// @param {Number} $bottom
/// @param {Number} $left

@mixin generated(
  $width: false,
  $height: false,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  @if $width { width: $width };
  @if $height { height: $height };
  content: "";
  display: block;
  position: absolute;
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $bottom { bottom: $bottom; }
  @if $left { left: $left; }
  z-index: 1;

  @content;
}
