//
// SassyIcons
//

//
// Main icon mixin.
//
@mixin icon(
  $name,
  $sprite,
  $offset: 0 0,
  $format: conf(format)
) {

  $map-1x: _sprite-map-get($name);
  $map-2x: _sprite-map-get($name, 2x);

  // Shorter mixin calls.
  $offset-x: nth($offset, 1);
  $offset-y: nth($offset, 2);

  @if $format == "svg" {

    $svg-file: _join((conf(dir), $name, "#{$sprite}.svg"), "/");

    background: {
      image: inline-image($svg-file);
      repeat: no-repeat;
    }

    .svg & {
      @content;
    }

    .no-svg &,
    .no-js & {

      @extend %sprite-map-#{$name}-image-map;

      background-position: _sprite-position($map-1x, $sprite, $offset-x, $offset-y);
    }

  }
  @else if $format == "png" {

    @extend %sprite-map-#{$name}-image-map;

    background-position: _sprite-position($map-1x, $sprite, $offset-x, $offset-y);

    @extend %sprite-map-#{$name}-2x-image-map;

    @include hidpi-mq {
      background-position: _sprite-position($map-2x, $sprite, $offset-x, $offset-y, conf(hidpi-scale));
    }
  }
}
