
// SassyIcons: icon-generated
// --------------------------


// Include the icon in a generated "pseudo-element".
// Default to :before.
// Allows for easier positioning or centering.
// ---
// @requires conf
// @requires _sprite-map-get
// @requires generated
// @requires icon
// ---
// @param {string} $name
// @param {string} $sprite
// @param {string} $pos ('before')
// @param {bool}   $centered (false)
// @param {string} $format

@mixin icon-generated(
  $name,
  $sprite,
  $pos: 'before',
  $centered: false,
  $format: conf(format)
) {
  position: relative;

  &:#{$pos} {
    $sprite-file: sprite-file(_sprite-map-get($name), $sprite);

    $width: image-width($sprite-file);
    $height: image-height($sprite-file);

    @include generated($width, $height);

    @if $centered {
      top: 35%;
      top: calc(50% - #{$height} / 2);
      left: 35%;
      left: calc(50% - #{$width} / 2);
    }

    @include icon($name: $name, $sprite: $sprite, $format: $format);

    @content;
  }
}
