//
// SassyIcons
//

//
// Embed a single icon as inline-image (no sprite).
// Should be used sporadically.
//
@mixin icon-single(
  $name,
  $sprite,
  $format: conf(format)
) {

  // sprite-file() and inline-image() no work.
  // @see https://github.com/chriseppstein/compass/issues/951

  $dir: conf(dir);
  $svg-file: _join(($dir, $name, "#{$sprite}.svg"), "/");
  $png-file-1x: _join(($dir, $name, conf(dir-png), "#{$sprite}.png"), "/");
  $png-file-2x: _join(($dir, $name, conf(dir-hidpi), "#{$sprite}.png"), "/");

  $function: if(conf(single-embed), inline-image, image-url);
  $svg-url: call($function, $svg-file);
  $png-url-1x: call($function, $png-file-1x);
  $png-url-2x: call($function, $png-file-2x);

  @if $format == "svg" {

    background: {
      image: $svg-url;
      repeat: no-repeat;
    }

    .svg & {
      @content;
    }

    .no-svg &,
    .no-js & {
      background-image: $png-url-1x;
    }

  }
  @else if $format == "png" {

    background: {
      image: $png-url-1x;
      repeat: no-repeat;
    }

    @include hidpi-mq {
      background: {
        image: $png-url-2x;
        size: ceil(image-width($png-file-2x) / conf(hidpi-scale)) auto;
      }
    }
  }
}
