
// SassyIcons: icon-generated
// --------------------------


// Include the icon in a generated pseudo-element.
// Default to `:before`.
// Allows for easier positioning or centering.
// ---
// @requires conf
// @requires _sprite-map-get
// @requires generated
// @requires icon
// ---
// @param {String} $map - spritemap name
// @param {String} $sprite - sprite name
// @param {String} $pos ('before') - pseudo-element position
// @param {Bool} $centered (false) - whether to center the icon, relative to its parent
// @param {String} $format (conf.format) - file format 'svg' | 'png'

@mixin icon-generated(
  $map,
  $sprite,
  $pos: 'before',
  $centered: false,
  $format: conf(format)
) {
  position: relative;

  &:#{$pos} {
    $sprite-file: sprite-file(_sprite-map-get($map), $sprite);

    $width: image-width($sprite-file);
    $height: image-height($sprite-file);

    @include generated($width, $height);

    @if $centered {
      top: 35%;
      top: calc(50% - #{$height} / 2);
      left: 35%;
      left: calc(50% - #{$width} / 2);
    }

    @include icon($map: $map, $sprite: $sprite, $format: $format);

    @content;
  }
}
