//
// SassyIcons
//

// Configuration

// Default settings.
$icons-defaults: (
  spacing     : 30px,
  dir         : "icons",
  dir-png     : "png",
  dir-hidpi   : "png_2x",
  hidpi-scale : 2,
  hidpi-ratio : 1.3
);

// User settings.
$icons: () !default;

// Retreive a config item.
@function defaults($key) {
  @return map-get(map-merge($icons-defaults, $icons), $key);
}
