
// SassyIcons: configuration
// -------------------------


// @var {map} - Default settings.
// ---
// @access private

$icons-defaults: (

  // Space around sprites in generated sprite map.
  // Useful with `$offset` parameter.
  // This setting is global for all sprite-maps.
  // Can be set per sprite-map with the `$spacing` parameter.
  spacing: 0,

  // Main icons directory. sprite-map-create() allows to use sub dirs.
  dir: "icons",

  // Name of the png sub-folders.
  dir-png: "png",

  // Name of the hidpi png sub-folders.
  dir-hidpi: "png_2x",

  // Scale of the hidpi pngs.
  hidpi-scale: 2,

  // Minimum resolution ratio used in the hidpi media query.
  hidpi-ratio: 1.3,

  // Whether to embed icons as data URI in the icon-single() mixin.
  single-embed: true,

  // Default file format unless overridden by parameter, svg | png.
  format: "svg",

  // Whether to support legacy browsers, svg fallback.
  legacy: true

);


// @var {map} - User settings.

$icons-settings: () !default;


// Retreive a configuration item.
// ---
// @param {string} $name
// @param {string} $factor
// ---
// @return {spritemap}

@function conf($key) {
  @if not map-has-key($icons-defaults, $key) {
    @warn "No item `#{$key}` found in configuration.";
    @return false;
  }

  @return map-get(map-merge($icons-defaults, $icons-settings), $key);
}
