
//
// Map set.
//
@function map-set($map, $key, $value) {
  @return map-merge($map, ($key: $value));
}



//
// Join.
//
@function join($list, $glue: "") {
  $string: "";

  @if length($list) > 0 {
    @for $i from 1 through length($list) {
      $string: $string + nth($list, $i);
      @if $i != length($list) {
        $string: $string + $glue;
      }
    }
  }

  @return $string;
}
