// -------------------------------------------------------------------------------
// SassyIcons - Flexible icons system.
// -------------------------------------------------------------------------------
// Repository: https://github.com/pascalduez/SassyIcons
// -------------------------------------------------------------------------------

// A bit of terminology:
// sprite = a single image/icon
// "sprite sheet" or "sprite map" == all sprites combined together

//
// Import configuration
//
@import "config/config";

//
// Import helpers
//
@import "helpers/helpers";


//
// Import icons
//
@import "icons/sprite-map-create";
@import "icons/icon";
@import "icons/icon-single";
@import "icons/generated";
@import "icons/icon-generated";
